.nav__logo{
  width: 100px;
}

// Top nav bar
.topNav{
  position: absolute;
  width: 100%;
  background: linear-gradient(180deg, black, transparent);
  z-index: 10;
  select{
    background: rgba(0,0,0,.4);
    border: 1px solid #aaa;
    color: #fff;
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 30px;
  }
}

.navbar-brand{
  border-radius: 5px; // Adjust the value based on your preference
   // Set the background color to red
  color: white; // Set the text color to white for better visibility
  padding: 5px 5px; // Add padding for better appearance
  cursor: pointer; // Add cursor style to indicate interactivity
 
  margin-left: 30px;
  border-radius: 2px solid black;
}

//home,dashboard
.style{
  display: flex;
  justify-content: center;
  list-style: none;
}

// home banner
.home-banner{
  height: 100vh;
  overflow: hidden;
  h1{
    font-size: 3.125rem;
  }
  h2{
    font-size: 1.625rem;
  }
  .shadow{
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  img{
    max-width: 100%;
  }
  .our-story{
    position: absolute;
    color: white;
    text-align: center;
    top: 35%;
    width: 600px;
    left: calc(50% - 300px);
    z-index: 1;
  }
  .input-group{
    input{
      height: 54px;
      padding: .2rem 1rem;
      border-radius: 0;
    }

    button{
      font-size: 1.5rem;
      padding: .2rem 1.5rem;
      border: 0;
      height: 54px;
      font-weight: normal;
    }
  }
}

// Login Page
.login{
  height: 100vh;
  overflow: hidden;

  .holder{
    padding: 60px 68px 40px;
    background-color: black;
    min-height: 460px;
    width: 450px;
    position: absolute;
    z-index: 1;
    margin-top: 100px;
    left: calc(50% - 225px);

    input{
      background-color: #333;
      border: 0;
      margin-bottom: 20px;
      color: #fff;
    }
  }
  .shadow{
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  img{
    max-width: 100%;
  }
  .login-form-other{
    .login-signup-now {
      color: #737373;
      font-size: 16px;
      font-weight: 500;
      margin-top: 16px;
      a {
        color: #fff;
      }
    }
  }
}

// Banner
.banner {
  background-image: url("https://image.tmdb.org/t/p/original//hVMoqvXs5j9ffun56tZ5YhliSD9.jpg");
  background-position: center center;
  background-size: cover;
  color: #fff;
  height: 448px;
  object-fit: contain;
  position: relative;

  .banner__contents {
    height: 190px;
    margin-left: 30px;
    padding-top: 140px;
  }
  
  .banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    color: red;
  }
  
  .banner__description {
    font-size: 16px;
    height: 80px;
    line-height: 1.3;
    line-height: 24px;
    max-width: 360px;
    padding-top: 1rem;
    width: 45rem;
  }
 
  .banner__button {
    border: none;
    border-radius: 0.2vw;
    cursor: pointer;
    font-weight: 700;
    margin-right: 1rem;
    outline: none;
    padding: 0.5rem 2rem;
  }
  
  .banner__button:hover {
    background-color: #e6e6e6;
    color: #000;
    transition: all 0.2s;
  }
  
  .banner--fadeBottom {
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
    height: 7.4rem;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

// List
// .list{
//   >.row{
//     flex-direction: column;
//     margin: 0;
//   }
//   .title{
//     margin: 30px;
//     margin-bottom: 0;
//   }
//   .row__posters {
//     display: flex;
//     overflow-x: scroll;
//     overflow-y: hidden;
//     padding: 20px 0 20px 0;
//   }
  
//   .row__posters::-webkit-scrollbar {
//     display: none;
//   }
  
//   .row__poster {
//     margin-right: 10px;
//     max-height: 100px;
//     object-fit: contain;
//     opacity: 0.8;
//     transition: transform 0.45s;
//     width: 100%;
//   }
  
//   .row__poster:hover {
//     cursor: pointer;
//     opacity: 1;
//     transform: scale(1.08);
//   }
  
//   .row__posterLarge {
//     max-height: 250px;
//   }
  
//   .row__posterLarge:hover {
//     opacity: 1;
//     transform: scale(1.09);
//   }
// }

//list
.rating{
  color: darkturquoise;
}
.movie-name{
  color: darkturquoise;
}
.footer{
  color: darkturquoise;
  text-align: center;
  justify-content: center;
}
.movie-info-popup{
  color: darkturquoise;
  text-align: center;
}
.movie-info{
  color: darkturquoise;
}
//
// .footer p {
//   display: flex;
//   bottom: 0;
//   width: 100%;
//   background-color:orangered;
//   color: rgb(248, 5, 5);
//   justify-content: center;
// }

// .footer p:hover {
//   text-decoration: underline black;
//   color: rgb(196, 0, 0); /* Add an underline on hover */
// }



.banner {
  min-height: 100vh;
  position: relative;
}

.banner__contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.list {
  .row {
    // Remove h2.title styling

    .col {
      .row__posters {
        display: flex;
        gap: 20px;
        overflow-x: scroll;
        padding: 20px;

        .row__poster-container {
          position: relative;
          
          transition: all 0.3s ease;

          .row__poster {
            max-height: 200px;
            object-fit: contain;
            border-radius: 10px;
            cursor: pointer;
            transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

            &:hover {
              transform: scale(1.1);
            }
          }

          .favorite-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            color: white;
            cursor: pointer;
            font-size: 24px;
            transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

            &:hover {
              color: #e6e6e6;
            }
          }
          &:hover {
            img {
              transform: scale(1.1); // Enlarge the image on hover
            }
          }
          &:hover .row__poster {
            transform: translateY(-20px); // Move the image outside the container on hover
          }
        
          .play-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 48px;
            cursor: pointer;
            transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

            &:hover {
              color: #000000;
            }
          }
        }

        .active {
          .row__poster {
            transform: scale(1.1);
          }
        }

        .video-player {
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 9999;

          .close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            color: white;
            background-color: #000000;
            cursor: pointer;
            font-size: 24px;
            transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
            border-radius: 2px solid white;
            &:hover {
              color: #e6e6e6;
            }
          }
        }
      }
    }
  }
}
 // Media queries for responsiveness
 @media screen and (max-width: 768px) {
  .row__posters,.topNav,.navbar-brand,.video-player,.play-button,.close-button,.banner,.our-story {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media screen and (max-width: 576px) {
  .search-icon,.video-player,.close-button,.play-button,.banner,.our-story {
    font-size: 16px;
    margin-left: -20px;
  }
}
